<div class="span4">
  <div class="well">
    <h1>Saved Queries</h1>
    <ul>
      <li>Query</li>
      <li>Query</li>
      <li>Query</li>
      <li>Query</li>
      <li>Query</li>
      <li>Query</li>
      <li>Query</li>
    </ul>
    <!--Sidebar content-->
  </div>
</div>
<div class="span8">
  <div class="well">
    <h1>New Query</h1>

    <%= render 'form' %>

    <%= link_to 'Back', run_queries_path %>
  </div>
</div>
