<div class="span3">
  <%= render 'index' %>
</div>

<div class="span9">
  <div id="query-container">
    <%= render 'run_queries/form' %>
  </div>
  <hr />
  <div id="query-results-container"></div>
</div>
