<!DOCTYPE html>
<html>
  <head>
    <title>DonorsChoose</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">DonorSQL</a>
          <div class="nav-collapse collapse" id="main-menu">
            <ul class="nav pull-right" id="main-menu-right">
              <li><a rel="tooltip" target="_blank" href="http://donorschoose.org/" title="">DonorsChoose.org</a></li>
              <li><a target="_blank" href="/rds.html" title="">Powered by PostgreSQL</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="main" class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
